<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muay Thai Website</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="topBar">
        <ol>
            <li class="topBar"><a href="#"></a>Buakaw Muay Thai</li>
            <li class="topBar"><a href="#"></a>Programs</li>
            <li class="topBar"><a href="#"></a>Coaches</li>
            <li class="topBar"><a href="#"></a>Schedule</li>
            <li class="topBar"><a href="#"></a>Shop</li>
            <li class="topBar"><a href="#"></a>Memberships & Pricing</li>
            <li class="topBar"><a href="#"></a>Contact</li>
        </ol>
    </nav>
</body>
</html>