<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muay Thai Website</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="header">
        <h1>Praktical Muay Thai</h1>
        <h2>Las Vegas, NV</h2>
        <h3>City of Shin</h3>
    </div>
    <nav class="topBar">
        <ol>
            <li class="topBar"><a href="#"></a>Home</li>
            <li class="topBar"><a href="#"></a>Programs</li>
            <li class="topBar"><a href="#"></a>Coaches</li>
            <li class="topBar"><a href="#"></a>Schedule</li>
            <li class="topBar"><a href="#"></a>Shop</li>
            <li class="topBar"><a href="#"></a>Memberships & Pricing</li>
            <li class="topBar"><a href="#"></a>Contact</li>
        </ol>
    </nav>
    <div class="firstSection">
        <h2>Traditional Muay Thai</h2>
        <h3>STRONG BODIES</h3>
        <h3>STRONG MINDS</h3>
        <h3>STRONG HEARTS</h3>
        <h3>STEP ONE: TRAIN TODAY</h3>
        <h3>STEP TWO: TRAIN TOMORROW</h3>
    </div>
    <div class="firstImage">
        <img src="../public/assets/firstTraining.jpg" alt="girl training with pads">
    </div>
    <script src="js/main.js"></script>
    <div class="secondSection">
        <h2>My Mission</h2>
        <h3>Muay Thai for life</h3>
        <h3>We believe in making a difference with each lesson and each class</h3>
        <h3>It begins with my commitment to build a positive environment and strong family community.</h3>
    </div>
</body>
</html>