<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muay Thai Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <img class="logo" src="/assets/logo.png" alt="Muay Thai Logo">
        
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/programs">Programs</a></li>
              <li><a href="/coaches">Coaches</a></li>
              <li><a href="/schedule">Schedule</a></li>
              <li><a href='/shop'>Shop</a></li>
            </ul>
          </nav>
    </header>
    <section class="section-1">
        <div class="container">
            <div class="box-1">
                <span>TRADITIONAL MUAY THAI</span>
                <p>STRONG BODIES</p>
                <p>STRONG MINDS</p>
                <p>STRONG HEARTS</p>
                <p>STEP ONE: TRAIN TODAY</p>
                <p>STEP TWO: TRAIN TOMORROW</p>
            </div>
        </div>
        <div>
            <img src="/assets/firstTraining.jpg" alt="girl training with pads">
        </div>
    </section>

    <!-- <div class="firstImage">
        
    </div> -->
    <div class="secondSection">
        <h2>My Mission</h2>
        <h3>Muay Thai for life</h3>
        <h3>We believe in making a difference with each lesson and each class</h3>
        <h3>It begins with my commitment to build a positive environment</h3>
        <h3> and strong family community.</h3>
    </div>
    <div>
        <video controls width="500">
            <source src="/assets/CrazyTrainingBuakaw.mp4" type="video/webm" />
    </div>
    <div class="fightImage">
        <img src="/assets/ringFight.jpg" alt="ring fightImage">
    </div>
    <footer>
        <h2 class="contact">Contact Us</h2>
        <h3>INFO</h3>
        <h3>Coach Buakaw</h3>
        <h3>702-123-4567</h3>
        <h3>ADDRESS</h3>
        <h3>7021 Las Vegas Ave, NV 89123</h3>
    </footer>

    <script src="js/main.js"></script>
</body>
</html>