<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>
    <link rel="stylesheet" href="/css/programs.css">
</head>
<body>
    <header class="header">
        <a href="https://muaythaigym.onrender.com/">
            <img class="logo" src="/assets/logo.png" alt="Muay Thai Logo">
        </a>
        
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/programs">Programs</a></li>
                <li><a href="/coaches">Coaches</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div>
            <img class="mats" src="https://cobrinhabjjlasvegas.com/wp-content/uploads/2021/02/cobrinha-bjj-adults-bjj-3-e1613407965957.jpg" alt="martial arts mats">
        </div>
        <div class="box-2">
            <div class="content-2">
                <h2>Martial Arts</h2>
                <h1>Programs</h1>
                <p>Find the martial arts program that best fits your needs!</p>
                <img class="rolling" src="https://cobrinhabjjlasvegas.com/wp-content/uploads/2021/02/cobrinha-bjj-adults-bjj-1.jpg" alt="bjj rolling">
            </div>

        </div>
    </section>
</body>
</html>