/* TODO: Incorporate codepen code
- nav bar sticky
- header container for logo and navbar
- flex space between
- header background black
- use display flex; also this is requierd before using align and justify properties
*/

/* Reset margin and padding for body and list elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a background color or any other styles you want for the body */
body {
  background: black;
  background-image: url('../assets/muayThaiHome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
  position: sticky;
  top: 0px;
  background: black;
  color: white;
}

.logo {
  padding: 0;
  height: 80px;
  width: 120px;
}

ul {
  display: flex;
  gap: 2rem;
  padding-right: 100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

.section-1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container {
  background: #fff;
  width: 300px;
  height: 300px;
}

.box-1 {
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.section-2{
  display: flex;
  justify-content: center;
  /* gap: 2rem; */
}

.container-2 {
  background: gray;
  width: 100%;
  height: 300px;
}

.box-2 {
  background: gray;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.section-3 {
  /* background: black; */
  display: flex;
  justify-content: center;
  /* gap: 2rem; */
}

.fightImage {
  width: 50%;
  border-radius: 25px;
  padding: 50px;
  margin: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center; */
}

footer {
  color: white;
  clear: both;
  border-top: #000 3px;
  border-top: 3px black;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.contact {
  border-bottom: 3px white;
}