/* TODO: Incorporate codepen code
- nav bar sticky
- header container for logo and navbar
- flex space between
- header background black
- use display flex; also this is requierd before using align and justify properties
*/

/* Reset margin and padding for body and list elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a background color or any other styles you want for the body */
body {
  background: black;
  background-image: url('../assets/muayThaiHome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: sticky;
  top: 0px;
  background: black;
  color: white;
}

/* style the h1 */
span {
  text-align: left;
  color: red;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

/* style the nav bar elements */
/* nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    clear: both;
    right: auto;
    background-color: rgba(0,0,0,0.5)
  }
  
  .topBar ol {
    list-style-type: none;
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .topBar {
    display: inline-block;
  }
  
  .topBar a::after {
    display: inline-block;
    color: #000;
    content: '|';
    font-size: 1.2rem
    font-weight: bold;
    padding: 0 8px;
  } */

.firstSection {
  background-color: black;
  color: white;
  left: auto;
  width: 40%;
  /* text-align: left; */
  margin-left: 0%;
  margin-right: 0%;   
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  clear: both;
}

.firstImage {
  float: right;
  text-align: center;
  /* max-width: 100px; */
  width: 60%;
  padding: 0;
  margin: 0;
  /* clear: both; */
}

.secondSection{
  clear: both;
  padding-top: 50px;
  background-color: darkgray;
  width: 40%;
  /* margin-left: 0%;
  margin-right: 0%;    */
  margin-left: 0%;
  margin-right: 0%;   
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}

.fightImage{
  width: 50%;
  clear: both;
  padding: 0;
  margin: 0;
  /* float: right; */
  align-items: center;
  text-align: center;
}

footer {
  color: white;
  clear: both;
  border-top: #000 3px;
  border-top: 3px black;
}

.contact {
  border-bottom: 3px white;
  
}